<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="nom">Nom</label>
          <input
            type="text"
            class="form-control"
            id="nom"
            required
            [(ngModel)]="plat.nom"
            name="nom"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            class="form-control"
            id="description"
            required
            [(ngModel)]="plat.description"
            name="description"
          />
        </div>
        <div class="form-group">
            <label for="prix">Prix</label>
            <input
              type="number"
              class="form-control"
              id="prix"
              required
              [(ngModel)]="plat.prix"
              name="prix"
            />
          </div>
          <div class="form-group">
            <label for="image">Image</label>
            <input
              class="form-control"
              id="image"
              required
              [(ngModel)]="plat.image_url"
              name="image"
            />
          </div>
        <button (click)="savePlat()" class="btn btn-success">Submit</button>
      </div>
      <div *ngIf="submitted">
        <h4>Plat was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newPlat()">Add</button>
      </div>
    </div>
  </div>