<div id="wrapper" class="home-page">
  <header>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="" href="index.html"><strong><h2 style="font-family:cursive;">E-KALY</h2></strong></a>
            </div>
            <div class="navbar-collapse collapse ">
                <ul *ngIf="!isLoggedIn" class="nav navbar-nav">
                    <li class="active"><a href="index.html">Accueil</a></li> 
                    <li><a href="/inscription">S'inscrire</a></li>
                    <li><a href="/connexion">Se connecter</a></li>
                </ul>
                
                <ul *ngIf="isLoggedIn" class="nav navbar-nav">
                  <li class="active"><a href="index.html">Accueil</a></li> 
                  <li><a>{{ nom }}</a></li>
                  <li *ngIf="showAdminBoard"><a href="#">Utilisateurs</a></li>
                  <li *ngIf="showAdminBoard"><a href="#">Plats</a></li>
                  <li *ngIf="showAdminBoard"><a href="#">Livreurs</a></li>
                  <li *ngIf="showAdminBoard"><a href="#">Restaurants</a></li>
                  <li *ngIf="showRestaurantBoard"><a href="#">Bénéfices</a></li>
                  <li *ngIf="showRestaurantBoard"><a href="#">Commandes en cours</a></li>
                  <li *ngIf="showLivreurBoard"><a href="#">Plats à livrer</a></li>
                  <li><a href="/profil">Profil</a></li>
                  <li><a (click)="logout()">Se déconnecter</a></li>
              </ul>

            </div>
        </div>
    </div>
  </header>
  <!-- end header -->
  
	<section>
    <div class="container">
      <div class="row">
        <router-outlet></router-outlet>
      </div>
  </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
      </div>
    </div>
    <div id="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="copyright">
              <p>
                <span>&copy; RANDRIANARISOA Lukas Andrianina.</span>
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <ul class="social-network">
              <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
              <li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </footer>
  
</div>