<div id="wrapper" class="home-page">
   
    <section class="txt-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="aligncenter"><h1 class="aligncenter">E-KALY</h1>E-KALY est une plateforme qui vous permet de commander à manger dans le restaurant qui vous convient et de vous faire livrer.</div>
          
        </div>
      </div>
    </div>
    </section>
    
    
    <section id="services">
    
    
    <div class="container">
      <div class="row">
                  <div class="features">
                      <div  *ngFor="let plat of plats; let i = index" [class.active]="i == currentIndex" (click)="setActivePlat(plat, i)" class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="0ms" style="visibility: visible; -webkit-animation-duration: 300ms; -webkit-animation-delay: 0ms;">
                          <div class="media service-box">
                              <div class="pull-left">
                                  <img src="assets/img/1.png" alt="" />
                              </div>
                              <div class="media-body">
                                  <h4 class="media-heading">{{plat.nom}}</h4>
                                  <p>{{plat.description}}</p>
                                  <p>{{plat.prix}} AR</p>
                                  <button>Commander</button>
                              </div>
                          </div>
                      </div><!--/.col-md-4-->
                  </div>
              </div>	 
    </div>
    </section>
</div>